.upperIcon-button button{
    background-color: #505050;
    border-radius: 10px;
    border: none;
    color: white;
    width: 20%;
    height: 3rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-weight: bold;
    text-align: left;
    padding-left: 1rem;
}

.upperIcon-button a{
    text-decoration: none;
}

.upperIcon-button button p{
    width: 80%;
}

/* Sign Touch */
.signTouch-container{
    background-color: #D9FFC8;
    margin-bottom: 3rem;
    border-radius: 40px;
    display: flex;
    flex-direction: row;
    padding: 0.5em 4em;
    padding-right: 2em;
    padding-bottom: 2rem;
}

.signTouch-left{
    width: 60%;
}
.signTouch-left h2{
    font-size: 2.8em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.signTouch-left input{
    width: 90%;
    border-radius: 20px;
    height: 12%;
    padding: 0.5rem 1.5rem;
    background-color: transparent;
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color:#B6B6B6;
}

.signTouch-left button{
    color: white;
    background-color: rgba(34, 45, 41, 77%);
    border: none;
    padding: 1em;
    width: 40%;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
}

.signTouch-right{
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-left: 2rem;
    padding-left: 1rem;
    padding-top: 1rem;
    gap: 10px;
}

.signTouch-img{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.sT1{
    margin-right: 1.5rem;
    width: 55%;
    height: 85%;
}

.sT2{
    width: 45%;
    height: 85%;
}

.sT3{
    margin-right: 1.5rem;
    width: 45%;
    height: 85%;
}

.sT4{
    width: 55%;
    height: 85%;
}


/* Act and Earn */
.actEarn-container{
    width: 100%;
    background-image: linear-gradient(#D9FFC8, #FDFFE2, #D1D1D1);
    border-radius: 40px;
    padding-bottom: 3rem;
}

.actEarn-up, .actEarn-down, .actEarn-button{
    padding: 1rem 4rem;
}

.actEarn-up{
    font-size: 2rem;
    padding-bottom: 0;
}

.actEarn-down{
    display: flex;
    flex-direction: row;
    padding-top: 0;
    margin-top: -2%;
    padding-left: 3rem;
    padding-right: 3rem;
    gap: 5%;
}

.actEarn-left{
    width: 65%;
    text-align: justify;
}

.actEarn-right{
    width: 35%;
}

.actEarn-imgUp{
    display: flex;
    flex-direction: row;
}

.actEarn-imgUp{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.actEarn-imgLeft, .actEarn-imgRight{
    width: 150px;
}

.actEarn-imgLeft{
    border-radius: 100%;
}

.actEarn-imgDown{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Community */
.community-container{
    margin-top: 4.5rem;
    width: 100%;
    border-radius: 40px;
    background-image: linear-gradient(#CECBFF, #D7E7D8, #9CFBA2);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-bottom: 1.5rem;
}

.community-left, .community-right{
    height: 100%;
    padding: 2rem;
}

.community-left{
    width: 45%;
    padding-left: 3rem;
    padding-top: 3rem;
}

.community-left img{
    width: 90%;
    object-fit: contain;
}

.community-right{
    width: 55%;
    font-size: 1.3rem;
    padding-left: 0;
}

.community-right h1{
    font-size: 3rem;
}

.community-button button{
    width: 40%;
}


/* Home Card */
.homeCard-content{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 4rem 1rem;
}

.homeCard-icon{
    position: absolute;
    background-color: #505050;
    border-radius: 50px;
    cursor: pointer;
    margin-top: 5%;
}

.homeCard-icon:hover{
    background-color: #5050507e;
}

#prevIcon{
    left: 0;
}

#nextIcon{
    right: 0;
}

.homeCard-dot-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-top: -2.5rem;
}

.homeCard-dot{
    height: 10px;
    width: 10px;
    border-radius: 10px;
    background-color: #D9D9D9;
}


/* Nature Calls */
.natureCalls-container{
    width: 100%;
    height: 600px;
    background-image: url('../assets/home/natureCalls-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: row;
}

.nc-left{
    width: 35%;
    height: 100%;
}

.nc-right{
    width: 65%;
    height: 100%;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
}

.nc-info-container{
    position: absolute;
    background-color: #222D29;
    width: 250px;
    height: 210px;
    opacity: 60%;
    bottom: 20%;
    left: 10%;
    border-radius: 30px;
}

.nc-right{
    padding: 2rem;
    padding-top: 0;
}

.nc-title{
    font-size: 3.5rem;
    padding-left: 2rem;
    padding-top: 1rem;
}

.nc-title h1{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
}

.nc-desc{
    text-align: justify;
    padding: 2rem;
    padding-top: 1rem;
    padding-bottom: 0rem;
    height: 200px;
}

.nc-title-box{
    width: 100px;
    height: 1px;
}

.nc-button{
    padding: 2rem;
    width: 70%;
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
}

.nc-button button{
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.nc-button a{
    background-color: #222D29;
    padding: 0.6rem;
    border-radius: 10px;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nc-button a button{
    color: white;
}